@model List<ForParty.Models.PedidoDTO>
@{
    ViewData["Title"] = "Bar";
}

@if (Model == null)
{
    <h1 class="mt-4">Bar</h1>
    <div id="card-administracao" class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Informações
        </div>
        <div class="card-body">
            <p>Sem registro de dados.</p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="container-fluid px-4" id="pedido">
            <h1 class="mt-4">Bar</h1>

            @using (Html.BeginForm("ObterProdutosEstoquePedido", "Pedido", FormMethod.Get, new { id = "FormAdicionarNovoPedido" }))
            {
                <button type="submit" class="btn btn-success m-3">Adicionar novo pedido</button>
            }

            <div id="card-estoque" class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Informações
                </div>
                <div class="card-body">
                    @if (@Model == null)
                    {
                        <p>Sem registro de dados.</p>
                    }
                    else
                    {
                        <table id="datatable-pedido" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="col-3">Hora do pedido</th>
                                    <th class="col-3">Nome</th>
                                    <th class="col-3">CPF</th>
                                    <th class="col-3">Pedido</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.HoraEntrada</td>
                                        <td>@item.Nome</td>
                                        <td>@item.CPF</td>
                                        <td>@item.Pedido</td>
                                        <td>
                                            <div class="col-lg-12">
                                                @using (Html.BeginForm("ConcluirPedido", "Pedido", FormMethod.Post, new { id = "FormExcluirEstoque" }))
                                                {
                                                    <input type="hidden" id="saida-cliente" name="id" value="@item.Id" />
                                                    <button type="submit" class="btn btn-success" onclick="javascript:location.reload()">Concluir</button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript" charset="utf8" src="~/js/bar/bar.js"></script>